.contact {
    margin-top: 10px;
}

.fa-mobile-alt {
    margin-left: 2px;
    margin-right: 10px;
}

.fa-envelope-square {
    margin-right: 8px;
}

.fa-link {
    margin-right: 6px;
}

.contact li {
    margin-bottom: 5px;
}

.links {
    padding-left: 22px;
    font-size: medium;
}