.sticky {
    position: fixed;
    top: 0;
    right: 0;
}

.listfooter {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bolder;
}

.listfooter .container {
    font-size: small;
}

.listfooter .col-6{
    font-size: small;
}

.container {
    width: auto;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.container input:checked ~ .checkmark {
    background-color: lightsteelblue;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.top-margin {
    margin-top: 20px;
}

.category {
    text-align: center;
}

.div-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-btn {
    margin-left: 10px;
    margin-right: 10px;
}

.card-date {
    padding-left: 35px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: small;
}

.fa-exclamation-triangle {
    margin-right: 10px;
}

.content {
    font-size: 20px;
    overflow:hidden;
    word-break:break-all;
}

.emphasis {
    color: orangered;
}
